@use 'colors' as colors;


.catalog {
  // на мобильном экране кнопки выезжают вправо за экран
  // overflow-x: hidden;
  padding-bottom: 20px;
  
  display: flex;
  
  @media (min-width: 768px) {
    padding-bottom: 32px;
  }
  
  @media (min-width: 1024px) {
    padding-bottom: 40px;
  }
  
  &__list {
    display: flex;
    gap: 4px;
  }
  
  &__item {
    display: block;
  }
  
  &__link {
    display: block;
    color: colors.$grey;
    background-color: colors.$lightgrey;
    border: 1px solid colors.$lightgrey;
    padding: 11px 14px 13px;
    border-radius: 32px;
    align-content: center;
    
    &:hover {
      color: colors.$blue;
      border: 1px solid colors.$blue;
    }
    
    &:focus {
      color: colors.$bluetab;
      outline: 1px solid colors.$bluetab;
      outline-offset: -1px;
    }
    
    &_active:hover,
    &_active {
      color: colors.$white;
      background-color: colors.$blue;
      border: 1px solid colors.$blue;
    }
  }
  
}