@use 'colors' as colors;

:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: colors.$black;
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
}

// прибиваем футер вниз
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  flex-grow: 0;
}

.main {
  flex-grow: 5;
}

.footer {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: fixed;
  scale: 10;
  transform: scale(0);
}

// test
.container {
  display: flex;
  padding: 0 16px;
  
  @media (min-width: 768px) {
    padding: 0 29px;
  }
  
  @media (min-width: 1024px) {
    padding: 0 43px;
  }

  @media (min-width: 1440px) {
    padding: 0 92px;
  }
}


::selection {
  background-color: colors.$grey;
  color: colors.$white;
}
