@import 'vars';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: $white;

  padding: 40px 0;
}

.container {
  width: 100%;
}
.footer__container {
  display: grid;
  grid-template-areas: 
  'logo logo logo'
  '. social .'
  'dev social copy'
  ;
}


.footer__logo-link {
  display: flex;
  grid-area: logo;
  justify-content: center;
}
.footer__logo-image {
  display: block;
  width: 300px;
  height: 100px;
}

.footer__social {
  grid-area: social;
}
.footer__developer-list {
  grid-area: dev;
}
.footer__copyright {
  grid-area: copy;
}

