@use 'colors';


.product {
  display: flex;
  padding: 24px 0 60px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 24px;
    width: 100%;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media (min-width: 768px) {
      gap: 40px;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 12px;
    }

    @media (min-width: 1440px) {
      gap: 16px;
    }
  }

  &__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 24px;
    color: colors.$black;

    @media (min-width: 768px) {
      font-size: 32px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &__slider {
    width: 100%;

  }

  &__slider-image {
    border-radius: 16px;
    margin-bottom: 14px;
    width: 100%;

    @media (min-width: 768px) {
      margin-bottom: 12px;
      width: 100%;
    }

    @media (min-width: 1024px) {
      margin-bottom: 16px;
      width: 620px;
    }
    @media (min-width: 1440px) {
      width: 832px;
    }
  }

  &__slider-thumbnails {
    display: none;
    width: 100%;

    @media (min-width: 768px) {
      display: flex;
      gap: 14px;
    }

    @media (min-width: 1024px) {
      gap: 12px;
    }

    @media (min-width: 1440px) {
      gap: 16px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  &__info-price {
    font-size: 20px;
    margin-bottom: 12px;
    color: colors.$black;
  }

  &__info-id {
    font-size: 12px;
    margin-bottom: 24px;
    border-radius: 32px;
    background: colors.$lightgrey;
    padding: 4px 8px;
    width: max-content;
    display: inline-block;

    @media (min-width: 768px) {
      margin-bottom: 28px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 24px;
    }
  }

  &__info-title {
    font-weight: 400;
    font-size: 16px;
    color: colors.$black;
  }

  //! todo for product and order
  &__table {
    width: 100%;
    margin-bottom: 24px;
  }

  &__table-body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid colors.$grey;
  }

  &__table-item:first-child {
    color: colors.$grey;
    text-align: left;
  }

  &__table-item:last-child {
    text-align: right;
  }

  &__buttons {
    display: flex;
    gap: 12px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: colors.$white;
    background-color: colors.$blue;
    border: 1px solid colors.$blue;
    border-radius: 32px;
    padding: 12px 24px;
    width: 100%;
    font-size: 12px;
    text-align: center;

    &:hover {
      background-color: colors.$white;
      color: colors.$blue;
    }
  }

  &__like-button {}

}



.slider-thumbnails__image {
  border-radius: 16px;
  width: 167px;
  height: 138px;
}


// todo
.slider-thumbnails {

  &__item {
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}